* {
    margin: 0;
    padding: 0;
}




h5 {
    color: rgb(16, 16, 128);
}

li {
    color: aqua;
}

div h3 {
    color: black;
}

h1 {
    color: rgb(16, 16, 128);
}

span {

    color: rgb(16, 16, 128);
}

h3 {
    color: rgb(16, 16, 128);
}




* {
    margin: 0%;
    padding: 0%;
}



ul,
ol {
    list-style: none;
}


a {
    color: rgb(16, 16, 128);
}