/*--------media-------*/

/*----------VISTA MOVIL----------*/


/*-------INDEX-------*/

@media screen and (max-width:414px) {


    header {
        padding: 150px;
        justify-content: center;
        display: grid;
    }

    .contenedor {

        display: table-row-group;
    }

    .contenedor2 {
        display: table-row-group;
    }

    .inicio-footer {
        grid-template-columns: auto;
    }

    .contenedor-categorias {
        display: grid;
        height: min-content;
    }
}


/*-------PREGUNTAS FRECUENTES-------*/

@media screen and (max-width:414px) {

    header {
        padding: 150px;
        justify-content: center;
        display: grid;
    }

    .contenedor-preguntas {

        justify-content: center;
        display: grid;
        margin: 10px;
    }

    .inicio-footer {
        grid-template-columns: auto;
    }
}

/*-------PRODUCTOS-------*/


@media screen and (max-width:414px) {
    header {
        padding: 150px;
        justify-content: center;
        display: grid;
    }


    .contenedor-primero {
        display: grid;
        height: min-content
    }


    .inicio-nav-list {
        display: flex;
        gap: 15px;
    }

    .contenedor3 {
        display: table-row-group;
    }

    .contenedor4 {
        display: table-row-group;
    }

    .contenedor5 {
        display: table-row-group;
    }

    .portada-index p {
        font-size: unset;
        display: contents;
        white-space: pre;
    }

    .contenedor {
        display: inline;
    }

    .contenedor2 {
        display: inline;
    }

    .contenedor3 {
        display: inline;
    }

    .contenedor4 {
        display: inline;
    }

    .contenedor5 {
        display: inline;
    }

    .contenedor6 {
        display: inline;
    }

    .contenedor-segunda-seccion {
        display: table-row-group;
    }

    .contenedor2-segunda-seccion {
        display: table-row-group;
    }

    .contenedor3-segunda-seccion {
        display: table-row-group;
    }

    .contenedor4-segunda-seccion {
        display: table-row-group;
    }

    .contenedor-segunda-seccion {
        display: inline;
    }

    .contenedor2-segunda-seccion {
        display: inline;
    }

    .contenedor3-segunda-seccion {
        display: inline;
    }

    .contenedor4-segunda-seccion {
        display: inline;
    }

    .inicio-footer {
        grid-template-columns: auto;
    }
}

/*-------NUESTRO LOCAL-------*/

@media screen and (max-width:414px) {

    header {
        padding: 150px;
        justify-content: center;
        display: grid;
    }

    .img2 img {
        width: 414px;
    }

    .img3 img {
        width: 414px;
    }

    .inicio-footer {
        grid-template-columns: auto;
    }
}

/*----------VISTA TABLET----------*/

/*-------INDEX-------*/



@media screen and (max-width:769px) {

    .contenedor {
        grid-template-columns: 250px 250px 250px;
    }


    .contenedor2 {
        grid-template-columns: 250px 250px 250px;
    }


    .contenedor3 {
        grid-template-columns: 250px 250px 250px;

    }

    .contenedor4 {
        grid-template-columns: 250px 250px 250px;

    }

    .contenedor5 {
        grid-template-columns: 250px 250px 250px;

    }

    .contenedor6 {
        grid-template-columns: 250px 250px 250px;

    }

    .contenedor-categorias {
        text-align: -webkit-center
    }

    .inicio-footer {
        display: table-footer-group;
        display: list-item;
    }
}





/*-------PRODUCTOS-------*/

@media screen and (max-width:769px) {

    .contenedor-primero {
        text-align: -webkit-center
    }

    .contenedor-segunda-seccion {
        grid-template-columns: 250px 250px 250px;
       
    }

    .contenedor2-segunda-seccion {
        grid-template-columns: 250px 250px 250px;
    
    }

    .contenedor3-segunda-seccion {
        grid-template-columns: 250px 250px 250px;
    }

    .contenedor4-segunda-seccion {
        grid-template-columns: 250px 250px 250px;
    }

    .inicio-footer {
        display: table-footer-group;
        display: list-item;
    }

}

/*-------NUESTRO LOCAL-------*/

@media screen and (max-width:769px) {
    .inicio-footer {
        display: table-footer-group;
        display: list-item;
    }
}


/*-------PREGUNTAS FRECUENTES-------*/
@media screen and (max-width:769px) {
    .inicio-footer {
        display: table-footer-group;
        display: list-item;
    }
}

/*-------CONTACTOS-------*/
@media screen and (max-width:769px) {
    .inicio-footer {
        display: table-footer-group;
        display: list-item;
    }
}

/*----------VISTA DESKTOP----------*/

/*-------INDEX-------*/

@media screen and (max-width:1024px) {


    .contenedor {
        grid-template-columns: 350px 350px 350px;
    }

    .contenedor2 {
        grid-template-columns: 340px 340px 340px;
    }

    .contenedor3 {
        grid-template-columns: 350px 350px 350px;
    }

    .contenedor4 {
        grid-template-columns: 350px 350px 350px;
    }

    .contenedor5 {
        grid-template-columns: 350px 340px 310px;
    }

    .contenedor6 {
        grid-template-columns: 350px 340px 329px;
    }

    .contenedor-categorias {
        text-align: -webkit-center;
    }

    .inicio-footer {
        display: table-footer-group;
        display: list-item;
    }

}

/*-------PRODUCTOS-------*/

@media screen and (max-width:1024px) {

    .contenedor-primero {
        text-align: -webkit-center;
    }

    .contenedor-segunda-seccion {
        grid-template-columns: 350px 340px 329px;
    }

    .contenedor2-segunda-seccion {
        grid-template-columns: 350px 350px 350px;
    }

    .contenedor3-segunda-seccion {
        grid-template-columns: 340px 340px 340px;
    }

    .contenedor4-segunda-seccion {
        grid-template-columns: 350px 350px 350px;
    }

    .inicio-footer {
        display: table-footer-group;
        display: list-item;
    }
}

/*-------CONTACTOS-------*/

@media screen and (max-width:1024px) {
    .contenedor-contactos {
        height: 450px;
    }

    .contenedor2-contactos {
        height: 260px;
    }

}

/*-------PREGUNTAS FRECUENTES-------*/

@media screen and (max-width:1024px) {
    .caja-preguntas {
        height: 50px;

    }

    .caja-preguntas {
        height: 50px;

    }

    .caja-preguntas {

        height: 50px;
    }

    .caja-preguntas {
        height: 50px;

    }

    .caja-preguntas {
        height: 50px;

    }

    .caja-preguntas {
        height: 50px;

    }

    .caja-preguntas {
        height: 50px;

    }

    .caja-preguntas {
        height: 50px;

    }

    .caja-preguntas {
        height: 50px;

    }

    .contenedor-preguntas {
        height: 700px;
    }
}