.cajaaa1 {
    background-color: rgb(16, 16, 128);
    text-align: center;
}

.titulo1 {
    color: rgb(67, 237, 218);
}

.cajaaa2 {
    background-color: rgb(67, 237, 218);
    text-align: center;

    h3 {
        color: rgb(16, 16, 128);
    }
}

.contenedor-local {
    text-align: center;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 300px;
    width: 99.77%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 300px;
    width: 99.77%;
}

.caja2-local,
.caja3-local {
    
    text-align: center;
    font-size: 1rem;
}

.img2,
.img3{
    text-align: center;
    font-size: 1rem;
}