.cajaaa1 {
  background-color: rgb(16, 16, 128);
  text-align: center;
}

.titulo1 {
  color: rgb(67, 237, 218);
}

.cajaaa2 {
  background-color: rgb(67, 237, 218);
  text-align: center;

  h3 {
    color: rgb(16, 16, 128);
  }

  .contenedor-preguntas {


    font-size: 20px;
  }
}