.contenedor-primero {
    height: 40vh;
}

.cajaaa1 {
    background-color: rgb(16, 16, 128);
    text-align: center;
}

.titulo1 {
    color: rgb(67, 237, 218);
}

.cajaaa2 {
    background-color: rgb(67, 237, 218);
    text-align: center;

    h3 {
        color: rgb(16, 16, 128);
    }
}

.cajaaa3 {
    background-color: rgb(16, 16, 128);
    text-align: center;
}

.titulo2 {
    color: rgb(67, 237, 218);
}

.cajaaa4 {
    text-align: center;
    font-size: 2rem;
    display: -webkit-inline-box;
    margin: 49px;
}


.caja-seccion {
    background-color: white;
    font-size: 3rem;
    text-align: center;

    img{
        transform: scale(1.03);
    }

    h4 {
      
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 15px;
    }

    span {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 16px;
    }

    a {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 16px;
    }
}




.contenedor-segunda-seccion {
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.caja-seccion2 {
    background-color: white;
    font-size: 3rem;
    text-align: center;

    img:hover {
        transform: scale(1.03);
    }


    h4 {

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 15px;
    }


    span {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 16px;
    }

    a {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 16px;
    }

}






.contenedor2-segunda-seccion {
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}


.caja-seccion3 {
    background-color: white;
    font-size: 3rem;
    text-align: center;

    img:hover {
        transform: scale(1.03);
    }

    h4 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 15px;
    }

    span {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 16px;
    }

    a {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 16px;
    }
}





.contenedor3-segunda-seccion {
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}



.caja-seccion4 {
    background-color: white;
    font-size: 3rem;
    text-align: center;

    img:hover {
        transform: scale(1.03);
    }

    h4 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 15px;
    }

    span {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 16px;
    }

    a {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 16px;
    }
}




.contenedor4-segunda-seccion {
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}