header{
    background-color: rgb(67, 237, 218);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .inicio-nav-list{
    display: flex;
    gap: 35px;
  }